force-app/main/default/flows/Donor_Import_PayPal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Output_Variables</name>
        <label>Assign Output Variables</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>DonorImportLine.encdi2__Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_or_Create_Donor.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonorImportLine.encdi2__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonorImportLine.encdi2__Flow_Guid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Fields</name>
        <label>Set Opportunity Fields</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_or_Create_Donor.Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DonorImportLine.encdi2__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DonorImportLine.encdi2__Disbursement_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.npsp__Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_or_Create_Donor.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Opportunity_Name</name>
        <dataType>String</dataType>
        <expression>{!Find_or_Create_Donor.Contact.Name} + &apos; &apos; + TEXT({!DonorImportLine.encdi2__Disbursement_Date__c}) + TEXT({!DonorImportLine.encdi2__Amount__c})</expression>
    </formulas>
    <interviewLabel>Donor Import PayPal {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Donor Import PayPal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Assign_Output_Variables</targetReference>
        </connector>
        <inputReference>Opportunity</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_or_Create_Donor</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Find_or_Create_Donor</name>
        <label>Find or Create Donor</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Set_Opportunity_Fields</targetReference>
        </connector>
        <flowName>Find_or_Create_Contact</flowName>
        <inputAssignments>
            <name>Email</name>
            <value>
                <elementReference>DonorImportLine.encdi2__Donor_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>First_Name</name>
            <value>
                <elementReference>DonorImportLine.encdi2__Donor_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Last_Name</name>
            <value>
                <elementReference>DonorImportLine.encdi2__Donor_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Input Donor Transaction Line to process</description>
        <name>DonorImportLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>encdi2__Donor_Import_Line__c</objectType>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
